OurGame/bin
OUrGame/obj
OurGameContent/bin
OurGameContent/obj
Primitives2D/bin
Primitives2D/obj
SharedContent/obj
SharedContent/bin
8-1-0-ParticleEffects1/bin
8-1-0-ParticleEffects1/obj
Tests/bin
Test/obj