WindowsGame1/WindowsGame1/WindowsGame1/bin
WindowsGame1/WindowsGame1/WindowsGame1/obj
WindowsGame1/WindowsGame1.suo
WindowsGame1/WindowsGame1/WindowsGame1Content/bin
WindowsGame1/WindowsGame1/WindowsGame1Content/obj
Primitives2D/bin
Primitives2D/obj